@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.

.card {
    width: 100%;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: "Recursive", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 14px 14px;
    justify-content: space-between;
}

.card img {
    width: 20px;
    height: 20px;
}

.back {
    height: 130px;
    background-color: #FFFFD4;
    position: relative;
    flex-direction: column;
}

.back img {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.anwser-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin: 0 5px;
}
.wrong {
    background-color: #ff3030;
}
.almost {
    background-color: #FF922E;
}
.zap {
    background-color: #2FBE34;
}

.anwser-container {
    display: flex;

}

.card-title {
    width: 100%;
}

.footer {
    height: 90px;
    width: 100vw;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Recursive', sans-serif;

}
